/* common style for all */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    background-color: #E5E5E5;
    font-family: 'Merriweather', serif;
}
.nav-text-color{
    color: #3E3E3E;
}

.toast-border{
    border-left: 4px solid rgba(0, 68, 255, 0.664);
    width: auto;
}
.card{
    border-radius: 26px;
}
.price{
    font-weight: 700;
}
.choose-plan{
    background-color: #F496D1;
    color: white;
    width: 207px;
    height: 45px;
    border-radius: 24px;
    border: none;
}
.top-demand-plan{
    background-color: #3F87F5;
    color: white;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
.hot-plan{
    z-index: 2;
    padding: 14px 16px;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #FF4E4E;
}
.top-demand-plan a{
    background-color: white;
    color: #3F87F5;
}
.client-card{
    background-color: white;
    width: 360px;
}
footer{
    background-color: #0B0D17;
    color: white;
    padding: 15px
}
.app-store{
    width: 175px;
    /* height: 40px; */
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
.fa-apple{
    font-size: 30px;
}
.fa-google-play{
    font-size: 30px;
}

@media only screen and (min-width:992px) {
    .hot-plan{ 
        margin-top: -25px;   
    }
    .top-demand-plan{
        margin-top: 0px !important;
    }
}